body {
  font-family: Arial;
  background: #f4f4f4;
  color: #333;
  margin: 0;
}

header {
  background: #005f73;
  color: white;
  text-align: center;
  padding: 20px;
}

header img.profil {
  width: 150px;
  border-radius: 50%;
  border: 4px solid white;
}

nav {
  background: #0a9396;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 10;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 10 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: white;
}

h3 {
  color: #005f73;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

.galeri img {
  width: 30px;
  margin-right: 10px;
  border-radius: 10px;
}

footer {
  background: #005f73;
  color: white;
  text-align: center;
  padding: 10px;
}
